<ul class="nav justify-content-center">
 <li class="nav-item">
    <a class="nav-link active" href="/">HOME</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" href="/articles">ARTICLES</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/authors">AUTHORS</a>
  </li>
</ul>
